body {
    margin: 0;
    background: #0b1220;
    color: white;
}

.dashboard{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.sidebar{
    background: #151d32;
    padding: 20px;
}

.sidebar h2{
    color: #b9a7ff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.stats{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 0 25px;
}

.stat-card{
    background: #141e32;
    padding: 18px;
    border-radius: 10px;
}
