body {
    margin: 0;
    background: #0b1220;
    color: white;
}

.dashboard{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.sidebar{
    background: #151d32;
    padding: 20px;
}

.sidebar h2{
    color: #b9a7ff;
}
